<%= form_for(activity) do |f| %>
<% if activity.errors.any? %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <div id="error_explanation">
      <h3>
        <%= pluralize(activity.errors.count, "error") %>
        prohibited this activity from being saved:
      </h3>

      <ul>
      <% activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
  <div class="form-row">
    <div class="col-md-6 col-md-offset-3">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    <br>
    <div class="form-row">
      <div class="form-group col-sm-8">
        <%= f.label :activity_category, "Select a Category:" %>
        <%= f.collection_select :activity_category, ActivityCategory.all.order(:name), :id, :name, class: 'form-control' %>
      </div>
    </div>
    <%= f.hidden_field :itinerary_id, :value => params[:format] %>
  </div>
</div>
<%= f.submit submit_text, class: 'btn btn-form btn-primary' %>
<% end %>
